#topbar {
    background-color: #338129;
    width: 100%;
    height: 100px;
    margin-top: 0;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: rgba(0, 0, 0, 0.5) 3px solid;
}

#tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%
}

img {
    padding: 10px;
}

code {
    margin-left: 10px;
    font-size: xx-large;
}

button.recordSubmit {
    height: 40px;
    border-radius: 10px;
    border: #338129;
    font-size: large;
    background-color: #bddeb8;
}

button.recordSubmit:hover {
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;
    background-color: #ced8cc;
}

button.recordSubmit:active {
    transform: scale(0.95);
}

#imageStuff {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 33.3%;
}

#userStuff {
    display: flex;
    align-items: center;
    width: 33.3%;
    justify-content: flex-end;
}

#userStuff div {
    display: flex;
    align-items: center;
}

.profileDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

/* .active {
    background-color: #42ae33;
    border-radius: 5px;
} */

a {
    text-decoration: none;
}

.userProfile {
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.displayNameText {
    margin: 0;
}

.logoutButton {
    all: unset;
    height: 30px;
    margin: 5px;
    color: black;
    border-radius: 10px;
    background-color: rgb(231, 146, 125);
    padding: 5px;
    transition: all 0.1s ease-in-out;
    font-weight: bold;
}

.logoutButton:hover {
    transform: scale(1.05);
    background-color: rgb(230, 115, 87);

}

.logoutButton:active {
    transform: scale(0.95);
}

.discordSignIn {
    all: unset;
    color: black;
    background-color: rgb(47, 209, 47);
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
}

.discordSignIn:hover {
    transform: scale(1.05);
    background-color: rgb(22, 241, 22);
}

.discordSignIn:active {
    transform: scale(0.95);
}

.noBtnStyles {
    all: unset;
}

.hoverAnim {
    transition: transform 0.1s ease-in-out;
}

.hoverAnim:hover {
    transform: scale(1.05);
}

.hoverAnim:active {
    transform: scale(0.95);
}

.hoverAnimSmall {
    transition: transform 0.15s ease-in-out;
}

.hoverAnimSmall:hover {
    transform: scale(1.02);
}

/* .hoverAnimSmall:active {
    transform: scale(0.98);
} */