.recordsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.victors {
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
    scrollbar-width: none;
    width: 100%;
}

.victorCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.victorCard * {
    margin-left: 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.ytLogo:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.hidden {
    display: none;
}

.tooltip {
    margin: 0;
    padding: 0;
    position: relative;
}

.tooltip .tooltipText {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    left: 105%;
    width: max-content;

    background-color: #555;
    padding: 5px 10px;
    border-radius: 10px;

    margin: 0;
}
.tooltip .tooltipText * {
    text-align: center;
    margin: 0;
    display: inline;
}


.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltipText::after {
    content: "";
    transform: rotate(45deg) translateY(-50%);
    background-color: #555;
    position: absolute;
    top: 50%;
    left: -5%;

    border-color: transparent #555 transparent transparent;
    border-width: 5px;
    border-style: solid;
}