.page {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    gap: 0px 20px;
}

.cardContainer {
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 10px;
    margin-top: 10px;
    /* background-color: gray; */
}

.infoContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    /* background-color: gray; */
}

.recordsContainer {
    /* background-color: gray; */
    margin-top: 10px;
}
